<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asus.stitchimage.overlay"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.asus.stitchimage" android:priority="1" android:isStatic="true" />

    <application android:label="@string/app_name" android:hasCode="false"/>
</manifest>